body {
    font: 20px arial, sans-serif;
}

#imgTopo {
    border-radius: 50px;
}

.navbar {
    background-color: #2e81ee;
    color: white;
    padding-bottom: 15px;
}

.quemsomos {
    background-color: rgb(121, 153, 209);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 30px;
    color: rgb(51, 3, 114);
}

.videoQuemSomos {
    padding-top: 30px;
    padding-bottom: 30px;
}

.margin {
    padding-top: 30px;
}

#destaques {
    background-color: rgb(152, 162, 206);
    padding-bottom: 30px;
}

#destaques2 {
    background-color: rgb(152, 162, 206);
    padding: 30px;
}

.servicos {
    background-color: rgb(121, 153, 209);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 30px;
    color: rgb(51, 3, 114);
}

.bgfooter {
    background-color: black;
    color: white;
}